extends layout

block content
  h1= title
  p Welcome to #{title}
  p Math.atan2()  applied to #{val} is #{f1}
  p Math.atanh()  applied to #{val} is #{f2}
  p Math.cbrt()  applied to #{val} is #{f3}
  

